/* Arquivo de treino em CSS
Autor: Andre Trigueiro */

/* */

/*  Setando o elemento body do arquivo HTML. 
    Background - seta a cor de fundo para uma determinada cor em hexadecimal
    color - seta a cor das letras para uma determinada cor em formato RGB 
*/
body {
    background: #e48314b4;
    color: rgb(47, 0, 255);
}

/*  Setando um elemtno especificio para algum formato novo, no caso, 
    o elemtento h3, contido no header, contido no body.
*/
body > header > h3 {
    background: rgba(185, 219, 235, 0.568);
    color:rgb(255, 123, 0);
}

/*  Setando todos os elementos h3 para determinado padrao 
*/
h3 {
    color: rgb(0, 25, 253);
}

/*  Setando todos os elementos h3, contidos no body, para determinado padrão 
*/
body h3 {
    color: #f00;
}