/* Arquivo de treino em CSS
Autor: Andre Trigueiro */

/* 
*/

/*  Setando um URL para determinada fonte customizada
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');

/*  Setando o tipo de fonte e o tamanho. O "!important" significa prioridade
    na modificação do elemento.
*/
body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight:300 !important;
    margin:0px;
    background-color: bisque;
}

/*   Setando fonte de um elemento especifico
*/
body h1 {
    font-weight: 300;
    margin: 20px 30px;
}

/*   Setando borda pela ID do elemento. 
*/
#main-header {
    border: 2px solid #000;
}

/*  Display altera o status do elemento, que geralmente são:
    Block é full width, inline é apenas do tamanho necessario, e inline-block pode alterar o height 
    Além disso, pode-se colocar uma virgula entre elmentos para aplicar
    as mesmas regras

h1, h3{
    display: inline-block;
    height: 30px;
    margin: 20px;
}
*/

/*  Margin e Padding são bem importantes para posicionar os elementos.
    Enquanto o margin é utilizado para determinar uma margem do lado de fora
    do elemento, ou seja, não afeta o conteúdo em si, apenas a distancia entre
    este elemento e os demais, o padding afeta o tamanho do elemento em si.
*/
body h3{
    color: #f00;
    margin: 10px;
    margin-top:20px;
    padding: 50px;
}



/*  FLoat é usado para deixar o elemento flutuando na pagina
*/
h1{
    float: left    
}